.inner {
  width: 550px;
  max-width: 550px;
  margin: auto;

  @include respond-max-screen-phablet {
    width: calc(100% - 40px);
  }
}

@mixin ui-shadow {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2.8px 2.2px;
}
