$font-bold: 'Post Grotesk Bold';
$font-regular: 'Post Grotesk Regular';

$color-main: #080e2f;
$color-main-80: #393e59;
$color-main-60: #6b6e82;
$color-main-40: #9c9fac;
$color-main-20: #cecfd5;
$color-main-05: #f3f3f5;

$color-car: #e79d67;
$color-ecar: #e9cd68;
$color-car_mf: #85c2a5;
$color-public: #87aaab;
$color-bike: #404455;
$color-plane: #e77667;
$color-neutral: #f8f8f8;

$color-car-light: #fbf0e8;
$color-ecar-light: #fcf7e8;
$color-car_mf-light: #edf6f1;
$color-public-light: #edf2f2;
$color-bike-light: #e2e3e5;
$color-plane-light: #fbeae8;
$color-neutral-light: #f2f2f2;

$color-tile-light: #f6f8f9;
$color-tile: #e0e7eb;

$font-size-xxs: 11px;
$font-size-xs: 14px;
$font-size-s: 15px;
$font-size-m: 18px;
$font-size-l: 26px;
$font-size-xl: 32px;
$font-size-xxl: 44px;

$line-height-s: 120%;
$line-height-m: 135%;
$line-height-l: 150%;

$letter-spacing-s: 0.25px;
$letter-spacing-m: 0.5px;

$border-radius-m: 6px;
$border-radius-l: 12px;

$color-light: #fff;
$color-light-05: rgb(243, 243, 243);
$color-light-20: rgb(233, 233, 233);
$color-light-40: rgb(198, 198, 198);
$color-light-60: rgb(165, 165, 165);
$color-light-80: rgb(91, 91, 91);

$space-xs: 2px;
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 30px;

$size-vis: 960px;
$size-chart: 640px;
$size-content: 550px;

$screen-phablet: 550px;
$screen-tablet: 768px;
$screen-medium: 960px;
$screen-large: 1200px;

$height-vis: 300px;
